.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-top: 8px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  min-width: 550px;
}

@media (max-width: 768px) {
  mat-dialog-content {
    min-width: auto;
    width: 100%;
  }
}
