<div class="app-shell">
  <aside class="sidebar">
    <div class="sidebar-top">
      @if (branding()?.logoUrl) {
        <img class="sidebar-logo-image" [src]="branding()?.logoUrl" [alt]="branding()?.name" />
      } @else {
        <div class="sidebar-logo-placeholder">
          {{ branding()?.name?.charAt(0) || user()?.institutionSlug?.charAt(0) || 'C' }}
        </div>
      }

      <div class="sidebar-brand">
        <h2 [title]="branding()?.name">
          {{ branding()?.loginSlug?.toUpperCase() }}
        </h2>

        <span>
          {{ user()?.institutionSlug ? 'Institution Portal' : 'Platform Administration' }}
        </span>
      </div>
    </div>

    <nav class="sidebar-nav">
      @for (item of menuItems(); track item.route) {
        <a [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon>
            {{ item.icon }}
          </mat-icon>

          <span>
            {{ item.label }}
          </span>
        </a>
      }
    </nav>

    <div class="user-card">
      <div class="avatar">
        {{ user()?.firstName?.charAt(0) }}
      </div>

      <div>
        <strong>
          {{ user()?.firstName }}
          {{ user()?.lastName }}
        </strong>

        <p>
          {{ user()?.roles?.[0] }}
        </p>
      </div>
    </div>
  </aside>

  <main class="main-content">
    <header class="header">
      <h3>
        {{ branding()?.name || 'CampusERP' }}
      </h3>

      <div class="header-actions">
        <button mat-icon-button (click)="toggleTheme()">
          <mat-icon> contrast </mat-icon>
        </button>

        <span>
          {{ user()?.firstName }}
          {{ user()?.lastName }}
        </span>

        <button mat-button (click)="logout()">Logout</button>
      </div>
    </header>

    <section class="page-content">
      <router-outlet />
    </section>
  </main>
</div>
