<mat-sidenav-container class="app-shell">
  <!-- ========================================================= -->
  <!-- Sidebar -->
  <!-- ========================================================= -->

  <mat-sidenav
    #drawer
    class="sidebar"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
    [fixedInViewport]="isMobile()"
    [autoFocus]="false"
  >
    <div class="sidebar-top">
      @if (branding()?.logoUrl) {
        <img class="sidebar-logo-image" [src]="branding()?.logoUrl" [alt]="branding()?.name" />
      } @else {
        <div class="sidebar-logo-placeholder">
          {{ branding()?.name?.charAt(0) || user()?.institutionSlug?.charAt(0) || 'C' }}
        </div>
      }

      <div class="sidebar-brand">
        <h2 [title]="branding()?.name">
          {{ branding()?.loginSlug?.toUpperCase() }}
        </h2>

        <span>
          {{ user()?.institutionSlug ? 'Institution Portal' : 'Platform Administration' }}
        </span>
      </div>
    </div>

    <nav class="sidebar-nav">
      @for (item of menuItems(); track item.route) {
        <a
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="isMobile() ? drawer.close() : null"
        >
          <mat-icon>
            {{ item.icon }}
          </mat-icon>

          <span>
            {{ item.label }}
          </span>
        </a>
      }
    </nav>
  </mat-sidenav>

  <!-- ========================================================= -->
  <!-- Content -->
  <!-- ========================================================= -->

  <mat-sidenav-content>
    <main class="main-content">
      <!-- ===================================================== -->
      <!-- Header -->
      <!-- ===================================================== -->

      <header class="header">
        <div class="header-left">
          @if (isMobile()) {
            <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          }

          <h3>CampusERP</h3>
        </div>

        <div class="header-actions">
          <button mat-icon-button (click)="toggleTheme()">
            <mat-icon>contrast</mat-icon>
          </button>

          <app-user-menu></app-user-menu>
        </div>
      </header>

      <!-- ===================================================== -->
      <!-- Routed Pages -->
      <!-- ===================================================== -->

      <section class="page-content">
        <router-outlet />
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
